body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

/* Mengatur gaya untuk judul h2 */
h2 {
    text-align: center;
    margin-bottom: 10px;
    color: red;
}
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

/* Mengatur gaya untuk form */
form {
    display: flex;
    flex-direction: column;
}

/* Mengatur gaya untuk elemen div di dalam form */
form div {
    margin-bottom: 15px;
}

/* Mengatur gaya untuk label */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    color: #555;
}

/* Mengatur gaya untuk input */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Mengatur gaya untuk tombol login */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

/* Hover effect untuk tombol */
button[type="submit"]:hover {
    background-color: #3f51b5;
}